# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""


# Firebase Client Configuration for durably saving events, menus, users, and tasks.
# On external platforms like Vercel or Netlify, you can optionally set these environment variables in your deployment dashboard:
VITE_FIREBASE_API_KEY="AIzaSyAfRGMlc0yqNx5hbTysW0F3J1FUs_hWlyo"
VITE_FIREBASE_AUTH_DOMAIN="composed-phenomenon-qjwpf.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="composed-phenomenon-qjwpf"
VITE_FIREBASE_FIRESTORE_DATABASE_ID="ai-studio-womenseventfoodp-88659b4b-7f0c-4e25-9253-7ff5367bb388"
VITE_FIREBASE_STORAGE_BUCKET="composed-phenomenon-qjwpf.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="273352414291"
VITE_FIREBASE_APP_ID="1:273352414291:web:8b38df799f4cc996f5e2a6"

# Gmail SMTP Configuration for automated notifications (Configured with fallback default credentials)
SMTP_USER="920384h@gmail.com"
SMTP_PASS="kjforlykxfxpebix"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"


