# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""


# Firebase Client Configuration for durably saving events, menus, users, and tasks.
# On external platforms like Vercel or Netlify, you can optionally set these environment variables in your deployment dashboard:
VITE_FIREBASE_API_KEY="AIzaSyDLnUcadFbYwblKlfSu3ae0_m3RZ0mwj6I"
VITE_FIREBASE_AUTH_DOMAIN="new-app-menu.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="new-app-menu"
VITE_FIREBASE_FIRESTORE_DATABASE_ID=""
VITE_FIREBASE_STORAGE_BUCKET="new-app-menu.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="879388082803"
VITE_FIREBASE_APP_ID="1:879388082803:web:a72c3ac62fddaab0666006"

# Gmail SMTP Configuration for automated notifications (Configured with fallback default credentials)
SMTP_USER="920384h@gmail.com"
SMTP_PASS="kjforlykxfxpebix"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"


